<div th:fragment="forumItem">
    <a th:href="@{/forum/{id}(id=${item.id})}" target="_blank" class="item-content" style="text-decoration: none;">
        <div class="item-main">
            <h6 class="item-title" th:text="${item.title}">News Title</h6>
            <p class="item-description" th:text="${item.content}">Content</p>
        </div>
        <div class="item-actions">
            <button class="btn-action btn-remove remove-btn" th:data-id="${item.id}" th:data-type="'THREAD'">
                <i class="bi bi-bookmark-fill"></i>
            </button>
        </div>
    </a>
</div>
